@font-face {
    font-family: 'inter';
    src: url(../fuentes/Inter.ttf);

    font-family: 'molengo';
    src: url(../fuentes/Molengo.ttf);
}

body{
    background-color: #1b1f22;
}
.logo{
    text-align: center;
    margin-top: 10%;
}

.logo img{
    width: 15.833vw;
    height: 30.4vh;
}

#login{
    width: 15.833vw;
    margin: 0 auto;
    text-align: center;
}


#login input{
    font-family: 'inter', sans-serif;
    font-size: 0.75em;
    width: 10.938vw;
    height: 3.7vh;
    margin-bottom: 10%;
    padding: 2%;
    border-radius: 21px;
    border: 1px solid #ccc;
    text-align: center;
}

#login input[type="submit"]{
    font-family: 'molengo', sans-serif;
    font-size: 0.75em;
    width: 10.938vw;
    height: 3.5vh;
    background-color: #243540;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button{
    width: 10.938vw;
    height: 3.5vh;
    font-family: 'molengo', sans-serif;
    font-size: 0.75em;
    background-color: #243540;
    color: #fff;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    font-family: 'inter', sans-serif;
    font-size: 0.75em;
    color: #fff;
    display: block;
    text-align: center;
}