<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Hunter's Trunk</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../imagenes/logo/logo.png">  
</head>
<body>
    <div class="logo">
        <img src="../imagenes/logo/logo.png" alt="logo">
    </div>

    <div id="login">
    <form action="login.php" method="post">
        <input type="email" name="email" id="email" placeholder="Email" required> 
        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        <input type="submit" value="INICIAR SESIÓN">
    </form>
    <button href="register.php">REGISTRARSE</button>
    <a href="forgot.php">¿Olvidaste tu contraseña?</a>
    </div>
    
</body>
</html>

