<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Opciones / Hunter's Trunk</title>
		<link rel="stylesheet" href="../css/opciones.css">
		<link rel="shortcut icon" href="../imagenes/logo/logo.png">
	</head>
	<body>
		<div class="logo">
			<img src="../imagenes/logo/logo.png" alt="logo">
		</div>

		<div id="login">
			<form action="/ruta/a/tu/servidor" method="post">
				<input type="password" id="current-password" name="current-password" placeholder="Contraseña actual"><br>
				<input type="password" id="new-password" name="new-password" placeholder="Contraseña actual"><br>
				<input type="password" id="confirm-password" name="confirm-password" placeholder="Contraseña actual"><br>
				<input type="submit" value="CAMBIAR CONTRASEÑA">
			</form>
            <button href="register.php">VOLVER</button>
		</div>

	</body>
</html>
